<div class="container">
  <h1 class="text-center my-5"><%= @restaurant.name %></h1>
  <h6 class="card-subtitle mb-2 text-muted"><%= @restaurant.category %></h6>
  <p class="card-text"><%= '⭐️' * @restaurant.rating %></p>
  <a href="#" class="card-link">Back</a>
</div>